---
import Layout from '../../layouts/Layout.astro'
import Bracket from '../../components/Bracket.vue'

const { torneo } = Astro.params

const titulo = torneo[0].toUpperCase() + torneo.substring(1, torneo.length)
---

<Layout title={`Torneo ${titulo}`}`>
  <a href="/torneos">
    <img class="back" src="/icons/back.svg" alt="<" />
    <div class="page-title">
      <img src={`/icons/${torneo}.svg`} />
      <h2>{titulo}</h2>
    </div>
  </a>

  <Bracket />
</Layout>

<style lang="scss">
  .page-title {
    display: flex;
    justify-content: center;
    gap: 10px;

    h2 {
      text-align: center;
    }

    img {
      width: 30px;
    }
  }

  .back {
    position: absolute;
    margin-top: 22px;
    margin-left: 20px;
    width: 30px;
  }
</style>
