---
import Layout from '../../layouts/Layout.astro'
import Normas from '../../components/Normas.vue'
const reglas = [
    'Antes de empezar el juego se repartiran unos circulos de colores indicando que jugador eres.',
    'El color indicará las pruebas que debes realizar, deberas buscar un circulo de tu color en las pruebas si lo tiene debes realizarla.',
    'Los impostores tendran un cuchillo de mentira con el cual deberan de apuñalar a sus victimas.',
    'El juego termina cuando todos los tripulantes acaben sus misiones (incluidos los muertos) o que los impostores maten a topdos los tripulantes.',
]
const normas = [
  'Los muertos no hablan',
  'Los muertos deberan quedarse en el lugasr hasta que los encuentren.',
  'Una vez los encuentren, deberan de colocarse una cinta blanca en la cabeza dando a entender que son fantasmas y no pueden interactuar con ellos',
  'Esta prohibido correr, solo se puede caminar para ir todos a la misma velocidad',
  'No se puede lanzar el cuchillo',
]
---

<Layout title="NormasAmongus">
  <a href="/normas">
    <img class="back" src="/icons/back.svg" alt="<" />
    <h1>Amongus</h1>
  </a>
  <div class="rule">
    <h2>Reglas</h2>
    <Normas reglas={reglas} />
    <h2>Normas</h2>
    <Normas normas={normas} />
  </div>
</Layout>

<style lang="scss">
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0;
      gap: 10px;
      flex-grow: 1;
      text-align: center;
    }
    .back {
      margin-left: 20px;
      width: 30px;
    }
  }
  .rule {
    margin: 30px;
  }
</style>

