---
import Layout from '../../layouts/Layout.astro'
import Normas from '../../components/Normas.vue'
const reglas = [
  'Se realizará un pequeño partido de fútbol entre los equipos.',
  'El partido será a 2 Goles o a 10 minutos, lo que ocurra antes.',
  'Jugar con responsabilidad y no cometais faltas.',
  'En caso de empate se decidirá al ganador con penalties.',
]
const normas = [
  
]
---

<Layout title="NormasFutbol">
  <a href="/normas">
    <img class="back" src="/icons/back.svg" alt="<" />
    <h1>Futbol</h1>
  </a>
  <div class="rule">
    <Normas reglas={reglas} />
    <Normas normas={normas} />
  </div>
</Layout>

<style lang="scss">
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0;
      gap: 10px;
      flex-grow: 1;
      text-align: center;
    }
    .back {
      margin-left: 20px;
      width: 30px;
    }
  }
  .rule {
    margin: 30px;
  }
</style>

