---
import Layout from '../../layouts/Layout.astro'
import Normas from '../../components/Normas.vue'
const normas = [
  'Prohibido Comer y Fumar en la piscina, incluido el borde',
  'Prohibo fumar dentro de la casa',
  'Hacer todo lo posible por no hacer el burro con los elementos de la casa (evitar al máximo cargarnos nada)',
  'Respeta tu horario de tareas, si la tarea asignada no te gusta, puedes cambiarla con algun compañero siempre y cuando este deacuerdo en cambirtela.',
  'Estan prohibidas las drogas duras.',
  'No se va a esperar a nadie para empezar las actividades.',
  'No interrumpais miestras se explican las actividades',
  'Todo aquel que no participe en una actividad no debe molestar al resto',
  'Prohibido atosigar al DJ, hay una lista predeterminada, se pueden hacer sugerencias',
  'Queda totalmente prohibido bromas pesada o de mal gusto, excepto que tengas confianza con esa persona, bajo tu responsabilidad. (lloveran hostias)',
  'Respetar las horas de sueño del resto de personas',
  'No robar los premios',
  'Prohibido ahogarse en la piscina',
  'Prohibido entrar en habitaciones agenas a la tuya sin permiso',
]
---

<Layout title="NormasCasa">
  <a href="/normas">
    <img class="back" src="/icons/back.svg" alt="<" />
    <h1>Casa</h1>
  </a>
  <div class="rule">
    <h2>Normas</h2>
    <Normas normas={normas} />
  </div>
</Layout>

<style lang="scss">
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0;
      gap: 10px;
      flex-grow: 1;
      text-align: center;
    }
    .back {
      margin-left: 20px;
      width: 30px;
    }
  }
  .rule {
    margin: 30px;
  }
</style>

