---
import Layout from '../../layouts/Layout.astro'
---
<Layout title="Casa">
    <h1>Casa</h1>
    <div class="rule">
        <div class="1">1. Prohibido Comer y Fumar en la piscina, incluido el borde</div>
        <div class="2">2. Prohibo fumar dentro de la casa</div>				
        <div class="3">3. Hacer todo lo posible por no hacer el burro con los elementos de la casa (evitar al máximo cargarnos nada)</div>				
        <div class="4">4. Respeta tu horario de tareas, si la tarea asignada no te gusta, puedes cambiarla con algun compañero siempre y cuando este deacuerdo en cambirtela.</div>				
        <div class="5">5. Estan prohibidas las drogas duras.</div>				
        <div class="6">6. No se va a esperar a nadie para empezar las actividades.</div>				
        <div class="7">7. No interrumpais miestras se explican las actividades</div>				
        <div class="8">8. Todo aquel que no participe en una actividad no debe molestar al resto</div>				
        				
        9. Prohibido atosigar al DJ, hay una lista predeterminada, se pueden hacer sugerencias				
        10. Queda totalmente prohibido bromas pesada o de mal gusto, excepto que tengas confianza con esa persona, bajo tu responsabilidad. (lloveran hostias)				
        11. Respetar las horas de sueño del resto de personas				
        12. No robar los premios				
        13. Prohibido ahogarse en la piscina				
        14. Prohibido entrar en habitaciones agenas a la tuya sin permiso				
    </div>
  </Layout>
  
  <style lang="scss">
   
      h1 {
        text-align: center;
        display: flex;
        justify-content: center;
        gap: 10px;
      }
    </style>
  
     