---
import Layout from '../../layouts/Layout.astro'
import Normas from '../../components/Normas.vue'
const reglas = [
'Sera una batalla individual con un maximo de 6 pokémons.',
'El onjetivo es derrotar a todos los pokémons del rival o el maximo numero posible dentro del tiempo establecido (20 min).',
]
const normas = [
'Nivel igualado al 50.',
'Equipar objetos esta permitido.',
'Esta prohibido tener Pokémons repetidos en el equipo.',
'Los Pokémons Legendarios estan prohibidos, pero si estan permitidos lotos los paradox y pokemons de evento.'
]
---

<Layout title="NormasPokémon">
  <a href="/normas">
    <img class="back" src="/icons/back.svg" alt="<" />
    <h1>Pokémon</h1>
  </a>
  <div class="rule">
    <h2>Reglas</h2>
    <Normas reglas={reglas} />
    <h2>Normas</h2>
    <Normas normas={normas} />
  </div>
</Layout>

<style lang="scss">
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0;
      gap: 10px;
      flex-grow: 1;
      text-align: center;
    }
    .back {
      margin-left: 20px;
      width: 30px;
    }
  }
  .rule {
    margin: 30px;
  }
</style>

