---
import Layout from '../../layouts/Layout.astro'
import Normas from '../../components/Normas.vue'
const reglas = [
'El partido a 11 puntos, el primero que llega gana, existe el punto de partido.',
'Ej: 11-11 tienes que ganar de 2 para proclamarte vencedor. (11-13).',
'Se empieza pasandole con la mano la bola en la mesa de tu contrincante y se hace bolea hasta que uno gana, en este momento empieza el juego y saca el que ha ganado la bolea.',
'El juego consiste en hacer botar en el saque la bola en una de las dos mitades de la mesa, y que esta caiga en la mitad contraria de la mesa del oponente, si empiezas por mitad izquierda que en la mesa del oponenete, caiga en mitad derecha por ejemplo a partir de este momento la bola tiene que rebotar en el campo enemigo cada vez que la golpees pero no en el tuyo.',
'No hay límites de mesa, por lo que si una bola roza un margen y luego cae al suelo, es punto valido para quien lo ha lanzado.',
]
const normas = [
  
]
---

<Layout title="NormasBillar">
  <a href="/normas">
    <img class="back" src="/icons/back.svg" alt="<" />
    <h1>Ping Pong</h1>
  </a>
  <div class="rule">
    <h2>Reglas</h2>
    <Normas reglas={reglas} />
    <Normas normas={normas} />
  </div>
</Layout>

<style lang="scss">
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0;
      gap: 10px;
      flex-grow: 1;
      text-align: center;
    }
    .back {
      margin-left: 20px;
      width: 30px;
    }
  }
  .rule {
    margin: 30px;
  }
</style>

