---
import Layout from '../layouts/Layout.astro'
import AdminForms from '../components/AdminForms.vue'

const response = await fetch(`${import.meta.env.API}/users/minimal`)

let users = await response.json()
---

<Layout title="Admin">
  <div class="page-title">
    <h2>Admin Panel</h2>
  </div>

  <AdminForms users={users} client:load />
</Layout>
