---
import Layout from '../layouts/Layout.astro'
---

<Layout title="xxxx">
  <div class="admin">
    <select>
      <option value="zkoin">ZKoin</option>
      <option value="puntos">Puntos</option>
    </select>

    <select>
      <option value="zkoin">Scripted</option>
      <option value="puntos">Pyrogeno</option>
    </select>

    <input type="number" placeholder="Cantidad" />

    <button> Añadir</button>

    <input type="text" placeholder="Mision" />
    <button> Añadir mision</button>
  </div>
</Layout>

<style lang="scss"></style>
