---
import Layout from '../layouts/Layout.astro'
import ProfileCards from '../components/ProfileCards.vue'
import Api from '../api'

const users = await Api.get(`/users`)
---

<Layout title="Comunidad">
  <div class="page-title">
    <h2>Comunidad</h2>
  </div>
  <div class="cards">
    <ProfileCards users={users} client:load />
  </div>
</Layout>

<style lang="scss" is:global>
  .cards {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    height: 100%;

    .card__title {
      font-family: Lobster;
      font-size: 20px;
      text-shadow: 0 0 6px rgb(255, 0, 179);
    }
  }
</style>
