---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.vue'
import ProfileCard from '../components/ProfileCard.vue'
import Api from '../api'

const userCode = Astro.cookies.get('userCode')

const userData = await Api.get(
  `/users/user-profile-with-image?userCode=${userCode.value}`
)

const base64Image = userData.imagen
  ? Buffer.from(userData.imagen.data).toString('base64')
  : ''

const fotoPerfil = `data:image/jpeg;base64,${base64Image}`
---

<Layout title="ZK Mansion">
  <div class="cards">
    <Card title="Horarios" icon="schedule" link="/horarios" />
    <Card title="Ranking" icon="ranking" link="/ranking" />
    <Card title="Comunidad" icon="social" link="/comunidad" />
    <Card title="Premios" icon="gift" link="/premios" />
    <Card title="Trabajo" icon="task" link="/trabajo" />
    <ProfileCard
      title="Mi perfil"
      imagen={fotoPerfil}
      link={`/perfil/${userData.userCode}`}
    />
    <Card title="Monedero" icon="wallet" link="/monedero" />
    <Card title="Notificaciones" icon="alert" link="/notificaciones" />
    <Card title="Torneos" icon="torneo" link="/torneos" />
    <Card title="Normas" icon="normas" link="/normas" />

    {
      userData.isAdmin && (
        <div class="cards__admin">
          <Card title="Admin" icon="admin" link="/admin" />
        </div>
      )
    }
  </div>
</Layout>

<style lang="scss">
  .cards {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;

    &__admin {
      grid-column: 1 / 3;
    }
  }
</style>
