---
import Layout from '../layouts/Layout.astro'
import HistorialItem from '../components/HistorialItem.vue'
import Api from '../api'

const userCode = Astro.cookies.get('userCode')

const userPoints = await Api.get(
  `/users/user-zkoins-points?userCode=${userCode.value}`
)
---

<Layout title="ZK Mansion">
  <div class="monedero">
    <h2>Monedero de ZKoins</h2>
    <div class="coins">
      <div class="coins__cantidad">{userPoints.zkoins}</div>
      <img class="coins__coin" src="/img/zk_color.jpeg" alt="ZK" />
    </div>
    <hr />

    {
      [{ zkoins: 3, concepto: 'Has ganado al ajedrez!' }].map((item) => (
        <HistorialItem zkoins={item.zkoins} concepto={item.concepto} />
      ))
    }
  </div>
</Layout>

<style lang="scss">
  .monedero {
    padding: 10px;

    h2 {
      text-align: center;
    }

    hr {
      border: 1px solid rgb(115, 0, 126);
    }

    .coins {
      display: flex;
      text-align: center;
      align-items: center;
      width: 100%;
      margin: 30px 0;
      justify-content: center;
      gap: 20px;

      &__cantidad {
        font-size: 50px;

        background: linear-gradient(to right, #4f94e6, #8f3db3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &__coin {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 2px solid white;
      }
    }
  }
</style>
