---
import Notificacion from '../components/Notificacion.vue'
import Layout from '../layouts/Layout.astro'
import Api from '../api'

const userCode = Astro.cookies.get('userCode')

const notifications = await Api.get(`/users/misions?userCode=${userCode.value}`)
---

<Layout title="Notificaciones">
  <div class="page-title">
    <h2>Notificaciones</h2>
  </div>

  <div class="notificaciones">
    {
      notifications.map((item) => (
        <Notificacion tipo={item.type} mensaje={item.mision} />
      ))
    }
  </div>
</Layout>

<style lang="scss">
  .notificaciones {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>
