---
import Notificacion from '../components/Notificacion.vue'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Notificaciones">
  <div class="page-title">
    <h2>Notificaciones</h2>
  </div>

  <div class="notificaciones">
    <Notificacion tipo="info" mensaje="Quedan 2h para comer!" />
    <Notificacion tipo="mision" mensaje="Te toca limpiar espabila" />
    <Notificacion tipo="info" mensaje="Scripted ha ganado a Villwulf" />
  </div>
</Layout>

<style lang="scss">
  .notificaciones {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>
