---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Premios">
  <div class="title">
    <h2>Premios</h2>
  </div>
</Layout>

<style lang="scss">
  .title {
    display: flex;
    justify-content: center;
    gap: 10px;

    h2 {
      text-align: center;
    }
  }
</style>
