---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.vue'

const cards = [
  {
    title: 'Futbol',
    icon: 'futbol',
    link: '/torneos/futbol',
  },
  {
    title: 'Ajedrez',
    icon: 'ajedrez',
    link: '/torneos/ajedrez',
  },
  {
    title: 'Billar',
    icon: 'billar',
    link: '/torneos/billar',
  },
  {
    title: 'Dardos',
    icon: 'dardos',
    link: '/torneos/dardos',
  },
  {
    title: 'Matar',
    icon: 'matar',
    link: '/torneos/matar',
  },
  {
    title: 'Petanca',
    icon: 'petanca',
    link: '/torneos/petanca',
  },
  {
    title: 'Ping Pong',
    icon: 'pong',
    link: '/torneos/pong',
  },
  {
    title: 'Valorant',
    icon: 'valorant',
    link: '/torneos/batalla',
  },
  {
    title: 'Pokémon',
    icon: 'pokémon',
    link: '/torneos/pokemon',
  },
]
---

<Layout title="torneos">
  <div class="page-title">
    <h2>Torneos</h2>
  </div>
  <div class="cards">
    {
      cards.map((item) => (
        <Card
          title={item.title}
          theme="ranking"
          icon={item.icon}
          link={item.link}
        />
      ))
    }
  </div>
</Layout>

<style lang="scss">
  .cards {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }
</style>
