---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.vue'

const cards = [
  {
    title: 'Futbol',
    icon: 'pelota',
    link: '/torneos/futbol',
  },
  {
    title: 'Ajedrez',
    icon: 'chess',
    link: '/torneos/ajedrez',
  },
  {
    title: 'Billar',
    icon: 'billar',
    link: '/torneos/billar',
  },
  {
    title: 'Dardos',
    icon: 'dardo',
    link: '/torneos/dardos',
  },
  {
    title: 'Matar',
    icon: 'matar',
    link: '/torneos/matar',
  },
  {
    title: 'Petanca',
    icon: 'petanca',
    link: '/torneos/petanca',
  },
  {
    title: 'Ping Pong',
    icon: 'ping',
    link: '/torneos/pingpong',
  },
  {
    title: 'Valorant',
    icon: 'pistola',
    link: '/torneos/batalla',
  },
  {
    title: 'Pokémon',
    icon: 'pokeball',
    link: '/torneos/pokemon',
  },
]
---

<Layout title="torneos">
  <div class="page-title">
    <h2>Torneos</h2>
  </div>
  <div class="cards">
    {
      cards.map((item) => (
        <Card
          title={item.title}
          theme="ranking"
          icon={item.icon}
          link={item.link}
        />
      ))
    }
  </div>
</Layout>

<style lang="scss">
  .cards {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }
</style>
