---
import Menu from '../components/Menu.vue'
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <Menu />
    <div class="container">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  body {
    margin: 0;
    font-family: Poppins;
    min-height: 100vh;
    color: rgb(243, 243, 243);
    overflow: hidden;
    background: #16071d;
  }

  .container {
    margin-top: 60px;
    max-height: calc(100vh - 60px);
    overflow: scroll;
  }

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: rgb(243, 243, 243);
  }
</style>
